<div class="container">
  <app-introduction-of-players-names
    [hidden]="EnterNamesPageHidden === true"
    [pageHidden]="EnterNamesPageHidden"
    (newEnterNamesPageHidden)="HiddenPageSwitch($event)"
    (newPlayer1Name)="player1NameChange($event)"
    (newPlayer2Name)="player2NameChange($event)"
  ></app-introduction-of-players-names>
  <app-game
    [hidden]="!EnterNamesPageHidden === true"
    [pageHidden]="EnterNamesPageHidden"
    [player1Name]="Player1Name"
    [player2Name]="Player2Name"
    (newEnterNamesPageHidden)="HiddenPageSwitch($event)"
  ></app-game>
</div>
